Agentic RAG - Fixed & Enhanced.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-chat",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "cd238f41-0b8b-42eb-bea4-b68ee07ffbbf",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -656,
        464
      ],
      "webhookId": "rag-gold"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "0d001686-2fe3-43f1-bb24-75f0ef8535ec",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        496,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst query = body.query || body.chatInput || '';\nconst userId = body.userId || body.user_id || 'anonymous';\nconst username = body.username || 'User';\n\n// Analyze query for search weight tuning\nconst hasTechnicalTerms = /\\b(model|spec|[A-Z]{2,}[0-9]+|config|setting)\\b/i.test(query);\nconst hasConceptualQ = /\\b(how|why|explain|what|describe|understand)\\b/i.test(query);\n\n// Default search weights\nlet fts_weight = 0.4;\nlet vector_weight = 0.6;\n\n// Adjust for technical term-heavy queries\nif (hasTechnicalTerms && !hasConceptualQ) {\n  fts_weight = 0.6;\n  vector_weight = 0.4;\n}\n\n// Determine token budget based on query complexity\nconst queryLength = query.split(' ').length;\nlet token_budget = 6000; // Default for standard questions\nif (queryLength < 5) {\n  token_budget = 3000; // Quick lookup\n} else if (queryLength > 15) {\n  token_budget = 8000; // Detailed explanation needed\n}\n\nreturn [{\n  json: {\n    chatInput: query,\n    query: query,\n    doc_id: body.doc_id || null,\n    userId: userId,\n    username: username,\n    search_config: {\n      fts_weight,\n      vector_weight,\n      token_budget,\n      top_k: 20\n    }\n  }\n}];"
      },
      "id": "5e87ef08-1cf4-470c-abda-ee6d991aed4f",
      "name": "Extract & Analyze Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        464
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are AME-Bot — a friendly, expert technical assistant for AME Inc.\\n\\nYou help users with Niagara 4, KitControl, BMS, HVAC, BACnet — always using your tools.\\n\\nRULES YOU MUST OBEY:\\n1. If user says anything like \\\"list documents\\\", \\\"what docs do you have\\\", \\\"show me documents\\\" → CALL listDocuments() IMMEDIATELY\\n2. For every other question → CALL hybridSearch FIRST\\n3. If hybridSearch returns nothing → say \\\"I couldn't find that in the docs. Can you rephrase or tell me which document/section you're looking for?\\\"\\n4. NEVER hallucinate — if you don't know, ask for clarification\\n5. Always be helpful, conversational, and professional\\n6. Cite pages like [Page 23]\\n7. Use markdown: **bold**, `code`, bullet points, numbered steps\\n8. When showing images: \\\"Here's the diagram from [Page 15]:\\\" + image URL\\n\\nYou have these tools:\\n- listDocuments()\\n- hybridSearch(query, top_k?, fts_weight?, vector_weight?, doc_id?)\\n- contextExpansion(chunk_ids, doc_id, token_budget?)\\n- retrieveImages(chunk_ids)\\n- retrieveTables(chunk_ids)"
        }
      },
      "id": "ea5a7c6f-e050-476f-a61b-a1260d31e3a7",
      "name": "OpenAI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -160,
        464
      ]
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 2000,
          "temperature": 0.3
        }
      },
      "id": "71e87eb7-d5f9-4337-be28-d4a94f3388a9",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -496,
        704
      ],
      "credentials": {
        "openAiApi": {
          "id": "mgPrUpycCy78WBt2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.userId }}",
        "contextWindowLength": 10
      },
      "id": "be21966f-321d-4848-8a30-ca25daef77c7",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -320,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "// Enhanced response formatter with rich metadata extraction\nconst agentOutput = $input.item.json;\nconst webhookData = $('Extract & Analyze Query').item.json;\n\n// Extract response text\nconst responseText = agentOutput.output || agentOutput.text || '';\n\n// Parse citations from agent response\nconst extractCitations = (text) => {\n  const citationRegex = /\\[Page\\s+(\\d+)(?:-(\\d+))?\\]/gi;\n  const citations = [];\n  let match;\n  while ((match = citationRegex.exec(text)) !== null) {\n    citations.push({\n      page_start: parseInt(match[1]),\n      page_end: match[2] ? parseInt(match[2]) : parseInt(match[1])\n    });\n  }\n  // Return unique pages sorted\n  const uniquePages = [...new Set(citations.map(c => c.page_start))].sort((a,b) => a-b);\n  return uniquePages;\n};\n\n// Extract image references from tool outputs\nconst extractImageRefs = (toolOutputs) => {\n  const images = [];\n  for (const output of toolOutputs || []) {\n    if (output.tool === 'retrieveImages' && output.result?.success) {\n      const chunks = output.result.chunks || [];\n      for (const chunk of chunks) {\n        if (chunk.images && Array.isArray(chunk.images)) {\n          images.push(...chunk.images.map(img => ({\n            url: img.s3_url,\n            caption: img.caption || img.summary || '',\n            page: img.page_number,\n            section: chunk.section_id\n          })));\n        }\n      }\n    }\n  }\n  return images;\n};\n\n// Extract table insights from tool outputs\nconst extractTableInsights = (toolOutputs) => {\n  const tables = [];\n  for (const output of toolOutputs || []) {\n    if (output.tool === 'retrieveTables' && output.result?.success) {\n      const chunks = output.result.chunks || [];\n      for (const chunk of chunks) {\n        if (chunk.tables && Array.isArray(chunk.tables)) {\n          tables.push(...chunk.tables.map(tbl => ({\n            markdown: tbl.markdown || '',\n            description: tbl.description || '',\n            insights: tbl.insights || tbl.key_insights || '',\n            page: tbl.page_number,\n            rows: tbl.rows || 0,\n            cols: tbl.cols || 0\n          })));\n        }\n      }\n    }\n  }\n  return tables;\n};\n\n// Extract metadata from hybrid search results\nconst extractSearchMetadata = (toolOutputs) => {\n  for (const output of toolOutputs || []) {\n    if (output.tool === 'hybridSearch' && output.result?.success) {\n      return {\n        total_results: output.result.total_results || 0,\n        chunks_found: output.result.chunks?.length || 0,\n        fts_count: output.result.metadata?.fts_count || 0,\n        vector_count: output.result.metadata?.vector_count || 0,\n        match_types: output.result.chunks?.map(c => c.match_type) || []\n      };\n    }\n  }\n  return null;\n};\n\n// Extract context expansion metadata\nconst extractExpansionMetadata = (toolOutputs) => {\n  for (const output of toolOutputs || []) {\n    if (output.tool === 'contextExpansion' && output.result?.success) {\n      return output.result.expansion_summary || null;\n    }\n  }\n  return null;\n};\n\n// Build comprehensive formatted response\nconst formattedResponse = {\n  // Core answer\n  answer: responseText,\n  \n  // Citations\n  citations: extractCitations(responseText),\n  \n  // Visual assets\n  images: extractImageRefs(agentOutput.toolOutputs),\n  tables: extractTableInsights(agentOutput.toolOutputs),\n  \n  // Pipeline metadata\n  metadata: {\n    timestamp: new Date().toISOString(),\n    userId: webhookData.userId,\n    username: webhookData.username,\n    query: webhookData.query,\n    model: 'gpt-4o-mini',\n    \n    // Search metadata\n    search: extractSearchMetadata(agentOutput.toolOutputs),\n    \n    // Context expansion metadata\n    expansion: extractExpansionMetadata(agentOutput.toolOutputs),\n    \n    // Tool usage\n    tools_used: agentOutput.toolOutputs?.map(t => t.tool) || [],\n    tool_count: agentOutput.toolOutputs?.length || 0\n  },\n  \n  // Debug info (optional, can be disabled in production)\n  debug: {\n    agent_iterations: agentOutput.iterations || 0,\n    response_length: responseText.length,\n    has_citations: extractCitations(responseText).length > 0,\n    has_images: extractImageRefs(agentOutput.toolOutputs).length > 0,\n    has_tables: extractTableInsights(agentOutput.toolOutputs).length > 0\n  }\n};\n\nreturn { json: formattedResponse };"
      },
      "id": "fc8737a7-5c52-48ac-951a-85c18998f5bc",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        464
      ]
    },
    {
      "parameters": {
        "toolDescription": "List all available technical documents with metadata including title, document_type, total_pages, and total_sections. Use when user asks what documents exist or when you need to find doc_id. NO PARAMETERS REQUIRED.",
        "method": "POST",
        "url": "=https://dwisbglrutplhcotbehy.supabase.co/rest/v1/rpc/list_documents",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}"
      },
      "id": "0994ddeb-30fb-4dc6-9f39-afb8cb1a6ee4",
      "name": "listDocuments",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -368,
        992
      ],
      "credentials": {
        "supabaseApi": {
          "id": "wIbJSxriBymUSxSs",
          "name": "Supabase - Discourse"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "PRIMARY SEARCH METHOD - Search technical documentation using hybrid FTS + vector search with Reciprocal Rank Fusion. Combines keyword matching with semantic understanding. Returns ranked chunks with metadata including doc_id, section_id, page_number, and section_path. ALWAYS use this tool first for ANY search query.",
        "method": "POST",
        "url": "=https://dwisbglrutplhcotbehy.supabase.co/functions/v1/hybrid-search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $fromTool('query', 'The exact user question or search query', { type: 'string', required: true }) }}\",\n  \"doc_id\": \"{{ $fromTool('doc_id', 'Optional: restrict search to specific document ID', { type: 'string' }) }}\",\n  \"top_k\": \"{{ $fromTool('top_k', 'Number of chunks to return', { type: 'number', default: 20 }) }}\",\n  \"fts_weight\": \"{{ $fromTool('fts_weight', 'Full-text search weight (0-1)', { type: 'number', default: 0.4 }) }}\",\n  \"vector_weight\": \"{{ $fromTool('vector_weight', 'Vector/semantic search weight (0-1)', { type: 'number', default: 0.6 }) }}\"\n}"
      },
      "id": "d8f050ba-bc85-4d7a-b5bf-a24eb7e66654",
      "name": "hybridSearch",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -160,
        992
      ],
      "credentials": {
        "supabaseApi": {
          "id": "wIbJSxriBymUSxSs",
          "name": "Supabase - Discourse"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Expand search results using document hierarchy with siblings, parents, and children sections. Retrieves related chunks for comprehensive context. Use AFTER hybridSearch to get full section context for technical questions. Returns expanded_chunks with expansion_type metadata and token count.",
        "method": "POST",
        "url": "=https://dwisbglrutplhcotbehy.supabase.co/functions/v1/context-expansion",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chunk_ids\": \"{{ $fromTool('chunk_ids', 'Array of chunk IDs returned by hybridSearch', { type: 'array', required: true }) }}\",\n  \"doc_id\": \"{{ $fromTool('doc_id', 'Document ID from hybridSearch results', { type: 'string', required: true }) }}\",\n  \"token_budget\": \"{{ $fromTool('token_budget', 'Max tokens for expanded context', { type: 'number', default: 6000 }) }}\",\n  \"expand_siblings\": \"{{ $fromTool('expand_siblings', 'Include sibling sections', { type: 'boolean', default: true }) }}\",\n  \"expand_parents\": \"{{ $fromTool('expand_parents', 'Include parent sections', { type: 'boolean', default: true }) }}\",\n  \"expand_children\": \"{{ $fromTool('expand_children', 'Include child sections', { type: 'boolean', default: true }) }}\"\n}"
      },
      "id": "023beedd-78ef-45ce-ad98-1816447ae046",
      "name": "contextExpansion",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        32,
        992
      ],
      "credentials": {
        "supabaseApi": {
          "id": "wIbJSxriBymUSxSs",
          "name": "Supabase - Discourse"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Retrieve images like diagrams, schematics, charts, and screenshots related to specific chunks. Returns S3 URLs, captions, and AI-generated descriptions. Use when query involves visual components such as wiring diagrams, system schematics, UI screenshots, or charts. Pass chunk_ids from expanded context.",
        "method": "POST",
        "url": "=https://dwisbglrutplhcotbehy.supabase.co/functions/v1/retrieve-with-images",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chunk_ids\": \"{{ $fromTool('chunk_ids', 'Array of chunk IDs to get images from', { type: 'array', required: true }) }}\",\n  \"include_summaries\": \"{{ $fromTool('include_summaries', 'Return AI descriptions of images', { type: 'boolean', default: true }) }}\"\n}"
      },
      "id": "aae57ab4-e5c3-499f-a4ed-a26ea2b17641",
      "name": "retrieveImages",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        240,
        992
      ],
      "credentials": {
        "supabaseApi": {
          "id": "wIbJSxriBymUSxSs",
          "name": "Supabase - Discourse"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Retrieve tables with specifications, configurations, schedules, and structured data related to specific chunks. Returns markdown tables with LLM-extracted insights. Use when query involves structured data like specs, configurations, comparison tables, schedules, or lists. Pass chunk_ids from expanded context.",
        "method": "POST",
        "url": "=https://dwisbglrutplhcotbehy.supabase.co/functions/v1/retrieve-with-tables",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chunk_ids\": \"{{ $fromTool('chunk_ids', 'Array of chunk IDs to extract tables from', { type: 'array', required: true }) }}\",\n  \"include_markdown\": \"{{ $fromTool('include_markdown', 'Return tables in markdown format', { type: 'boolean', default: true }) }}\",\n  \"include_insights\": \"{{ $fromTool('include_insights', 'Return LLM-generated insights from tables', { type: 'boolean', default: true }) }}\"\n}"
      },
      "id": "e9bfa106-3db4-4d48-af3c-3b4dec7497d9",
      "name": "retrieveTables",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        432,
        992
      ],
      "credentials": {
        "supabaseApi": {
          "id": "wIbJSxriBymUSxSs",
          "name": "Supabase - Discourse"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract & Analyze Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract & Analyze Query": {
      "main": [
        [
          {
            "node": "OpenAI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Agent": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "OpenAI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "OpenAI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "listDocuments": {
      "ai_tool": [
        [
          {
            "node": "OpenAI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "hybridSearch": {
      "ai_tool": [
        [
          {
            "node": "OpenAI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "contextExpansion": {
      "ai_tool": [
        [
          {
            "node": "OpenAI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "retrieveImages": {
      "ai_tool": [
        [
          {
            "node": "OpenAI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "retrieveTables": {
      "ai_tool": [
        [
          {
            "node": "OpenAI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "headers": {
          "host": "rnocciolo.app.n8n.cloud",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
          "content-length": "190",
          "accept": "*/*",
          "accept-encoding": "gzip, br",
          "accept-language": "en-US,en;q=0.9",
          "cdn-loop": "cloudflare; loops=1; subreqs=1",
          "cf-connecting-ip": "2601:8c:4b7f:a7d0:a974:95ec:453:9e9f",
          "cf-ew-via": "15",
          "cf-ipcountry": "US",
          "cf-ray": "99c9556d75b51c6b-EWR",
          "cf-visitor": "{\"scheme\":\"https\"}",
          "cf-worker": "n8n.cloud",
          "content-type": "application/json",
          "origin": "https://ame-techassist.com",
          "priority": "u=1, i",
          "referer": "https://ame-techassist.com/",
          "sec-ch-ua": "\"Chromium\";v=\"142\", \"Google Chrome\";v=\"142\", \"Not_A Brand\";v=\"99\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-platform": "\"Windows\"",
          "sec-fetch-dest": "empty",
          "sec-fetch-mode": "cors",
          "sec-fetch-site": "cross-site",
          "x-forwarded-for": "2601:8c:4b7f:a7d0:a974:95ec:453:9e9f, 172.71.203.23",
          "x-forwarded-host": "rnocciolo.app.n8n.cloud",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "traefik-prod-users-gwc-13-6db466c7ff-d7vlh",
          "x-is-trusted": "yes",
          "x-real-ip": "2601:8c:4b7f:a7d0:a974:95ec:453:9e9f"
        },
        "params": {},
        "query": {},
        "body": {
          "query": "List documents",
          "context": {
            "siteUrl": "https://ame-techassist.com",
            "path": "/t/easydist-simplify-niagara-backups/22",
            "topicId": null,
            "user": {
              "id": 1,
              "username": "raymond",
              "name": null
            }
          }
        },
        "webhookUrl": "https://rnocciolo.app.n8n.cloud/webhook/rag-chat",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7b2e9978814c32d0a3b0dcfec6089a9e22b4a786bbecebb717124ee746c4c60c"
  }
}
